# Core Framework
Django==5.1.1

# Authentication and Accounts
django-allauth==65.0

# Bootstrap 5 integration for Django forms
django-bootstrap5==24.2

# Optional form helpers (for nicer form rendering)
django-crispy-forms==2.2
crispy-bootstrap5==2024.2

# Utility and environment
python-dotenv==1.0.1

# Database adapter (if using PostgreSQL)
psycopg2-binary==2.9.9

# Static files and media handling (recommended)
whitenoise==6.6.0
Pillow==10.4.0

# app server
gunicorn==21.2.0


# django
django-simple-history==3.0.1
django-filter==23.2
djangorestframework==3.16.1
django-weasyprint==2.4.0
django-widget-tweaks==1.5.0
django-select2==8.4.3

# shell
ipython==8.37.0

# data processing
pandas==2.3.3
numpy==2.2.6
